pythagoras/the_pythagorean_theorem_V/media
pythagoras/the_pythagorean_theorem_V/__pycache__
khat/shib_khat/media
khat/shib_khat/__pycache__
moadele/kargah_hal_moadele/media
moadele/kargah_hal_moadele/__pycache__
mosalasat/dayere_mosalasati/media
mosalasat/dayere_mosalasati/__pycache__
donbale_ha/media
donbale_ha/__pycache__
donbale_ha/videos/partial_movie_files